.table_title {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
}

.setting-dishes__wrapper {
    width: 80%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}
